h1 {
    margin-bottom: 20px;
    /* text-align: center; */
}

h1 > span{
    background-color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    
}

.info {
    background-color: #4c5972;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.link {
    color: whitesmoke;
}

#info-con {
    color: black;
    font-weight: bold;
    position: relative;
}

#info-list {
    border-radius: 30px;
    /* text-align: center; */
}

#background {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
}

#background > img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}

#return {
    position: relative;
    text-align: center;
    top: 150px;
}

#leftlabel {
    color: lightseagreen;
}

#rightlabel {
    color: lightseagreen;
    text-align: right;
}

#act {
    background-color: white;
    border-radius: 30px;
    padding: 13px
}

/* #image-display {
    position: relative;
    align-items: center;
    width: 100%;
    height: auto;
}


/* #imgz  {
    border: solid 1px #CCC;
    -moz-box-shadow: 5px 5px 0px #999;
    -webkit-box-shadow: 5px 5px 0px #999;
    box-shadow: 5px 5px 0px #999;
} */



