.form{
    outline-offset: 0px;
    width: auto;
}

#searchLabel{
    font-size: x-large;
    
}

#inputBox{
    max-width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-top-left-radius: 75px;
    border-bottom-left-radius: 75px;
    font-size: 16px;
    background-color: white;
    background-image: url('assets/searchIcon.png');
    background-size: contain;
    background-position: 3px 2px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 50px;
    resize: none;
}

#submitButton{ 
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border-left: none;
    font-size: 16px;
    background-color: white;
    padding: 12px 15px 12px 10px;
    color: rgb(5, 42, 54);
}

